$base-font-color: #141414;

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #FF00FF;
    display: flex;
    flex-flow: row nowrap;
}

.sliding_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: width .5s ease;

    p {
        font-family: "Gill Sans", sans-serif;
        font-size: 48px;
        color: $base-font-color;
    }

    .name-tag {
        font-size: 36px;
        position: absolute;
        top: 0;
    }

    .disappearing_font {
        @keyframes FadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
        @keyframes Fadeout {
            100% { opacity: 1; }
            0% { opacity: 0; }
        }
    }
}

.container_small {
    width: 100%;

    .disappearing_font {
        animation: FadeOut 0.5s;
        opacity: 0;
    }
}

.container_big {
    width: 1280%;

    .disappearing_font {
        animation: FadeIn 0.5s;
        opacity: 1;
    }
}
